/*--------------------------------------
              CSS of BODY 
 -------------------------------------*/

body {
      margin: 0;
}

/*--------------------------------------
      Start CSS of header section 
 -------------------------------------*/

 header {
    display: flex;
 }
 .headerSection {
    width: 50%;
    padding: 50px 100px;
 }
 #headerTitleCard {
    border-left: 3px solid #FF5959;
    margin-bottom: 15px;
 }
 header h1 {
    font-size: 60px;
    font-family: yeseva one;
    margin: 20px 10px;
 }
 #headerTitle1 {
    color: #333333;
 }
 #headerTitle2 {
    color: #FFAD5A;
 }
 header p {
    font-size: 18px;
    font-family: Poppins;
    margin: 35px 0;
    color: #3E3E3E;
 }
 #headerParagraph2 {
    font-size: 16px;
    font-family: Poppins;
    margin: 35px 0;
    color: #434343;
 }
 header a {
    font-size: 18px;
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
 }
 header img {
    width: 90%;
 }

/* End CSS of header section */


/*--------------------------------------
        Start CSS of section-1
 -------------------------------------*/

#section-1 h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: Poppins;
    text-align: center;
    color: #13103A;
}
#section-1 h1 span {
    color: #FFAD5A;
}
#myMission {
    padding: 0 100px;
    display: flex;
}
#myMission h1 {
    display: none;
}
.missionSubSection {
    width: 100%;
    border-radius: 20px;
    padding: 20px 32px 40px 28px;
}
.missionSubSection  img {
    margin-left: -20px;
}
#missionSubSection1 {
    margin-right: 25px;
    background-color: #4f9da610;
}
#missionSubSection2 {
    margin-right: 25px;
    background-color: #FF595910;
}
#missionSubSection3 {
    background-color: #FFF4D6;
}
.missionSubSection img {
    width: 140px;
}
.missionTitle {
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
}
.missionDetails {
    font-size: 16px;
    font-family: Poppins;
    color: #424242;
}

 /* End CSS of section-1 */


 /*--------------------------------------
        Start CSS of section-2
 -------------------------------------*/
 
#section-2 {
    padding: 65px 100px;
    display: flex;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}
#section-2 img {
    width: 400px;
}
#section-2-details {
    margin: 15px 0 0px 60px;
}
#section-2-details h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: Poppins;
}
#section-2-details p {
    font-size: 18px;
    font-family: Poppins;
    color: #3E3E3E;
    margin-bottom: 30px;
}
#section-2 a {
    font-size: 18px;
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
}
 
 /* End CSS of section-2 */

/*--------------------------------------
        Start CSS of section-3
 -------------------------------------*/
 
#section-3 {
    margin-bottom: 30px;
    padding: 65px 100px;
    display: flex;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right 330px;
}
#section-3 img {
    width: 400px;
}
#section-3-details {
    padding: 0 130px 0px 0;
}
#section-3-details h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: Poppins;
}
#section-3-details p {
    font-size: 18px;
    font-family: Poppins;
    color: #3E3E3E;
    margin-bottom: 30px;
}
#section-3 a {
    font-size: 18px;
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
}
 
 /* End CSS of section-3 */


 /*--------------------------------------
        Start CSS of section-4
 -------------------------------------*/

 #section-4 {
    margin-bottom: 30px;
    padding: 65px 100px;
}
#section-4 h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: Poppins;
    text-align: center;
    margin-bottom: 100px;
}
#section-4 span {
    color: #FFAD5A;
}
#section-4-subSection {
    display: flex;
}
#section-4-subSection h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: Poppins;
}
#section-4-subSection span {
    color: #FFAD5A;
}
#imageContainer {
    margin-left: 80px;
    padding: 40px;
    background-image: url(../images/shapes/shape-3.png), url(../images/shapes/shape-3.png), url(../images/shapes/shape-3.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 165px, 100px, 100px;
    background-position: left top, 90% 70%, 10% 90%;
}
#section-4-subSection img {
    width: 320px;
}
#section-4-details {
    padding: 100px 0 0px 130px;
}
#section-4-details h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: Poppins;
    margin-bottom: 0;
}
#section-4-details p {
    font-size: 18px;
    font-family: Poppins;
    color: #3E3E3E;
    margin-bottom: 30px;
}
#section-4-subSection a {
    font-size: 18px;
    font-family: Poppins;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
}

/* End CSS of section-3 */


/*--------------------------------------
        Start CSS of footer section
 -------------------------------------*/

footer {
    width: 100%;
    height: 175px;
    background-color: #0B0D17;
}
footer h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-family: Lobster;
    text-align: center;
    padding-top: 35px;
}
footer h2 span {
    color: #FF5959;
}
footer p {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    text-align: center;
}

/* End CSS of footer section */
